* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-align: Helvetica;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.app-container.login {
  background-image: url("assets/bg.webp");
  background-size: cover;
  background-position: center;
}
